div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
}

body {
    background-color: skyblue;
}

form {
    text-align: center;
}

label {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: fixed center;
}

a {
    text-align: center;
}

